/BillPughSingletonExample.class
/DoubleCheckedLockingExample.class
/EagerInitializationExample.class
/MakeACaptain.class
/MakeACaptain1$SingletonHelper.class
/MakeACaptain1.class
/MakeACaptain2.class
